/* Fading animation */
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}      
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Mixins */
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

$green: #00B850;
$gray: #939393;

* {
  box-sizing: borderbox;
  margin: 0;
  padding: 0;
}

html, body {
  margin:0;
  padding:0;
  height: 100%;
}

body {
  font-family: sans-serif;
  color: $gray;
  //min-width:800px;
}

a {
  color:$gray;
  text-decoration: none;
}

#app {
  display: flex;
  height: 100%;
  flex-flow: row wrap;
  min-width: 1000px;

  #viewer {
    flex: 2 0 0;    
    min-width:600px;
    //background: linear-gradient(rgba(20,20,20, .7), rgba(20,20,20, .7)), url("../files/Room_A_Live_Pano_02.jpg") no-repeat center center fixed; 
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    // background-size: cover;
  }
  
  #menu {
    flex: 1 0 0;
    background: #272727;
    box-shadow: -10px 0px 30px -20px rgba(0,0,0,1.4);
    min-width:400px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
    #steps {
      padding: 20px;
      flex: 1;
      .dots {
        text-align:center;
        margin:30px 0;
        border-top: 1px solid #4A3F3F;
        
        .dot {  
          height: 15px;
          width: 15px;
          margin: -8px 3% 8px 3%;
          background-image: url("../files/dot.svg");
          background-repeat: no-repeat;
          display: inline-block;
          transition: background-color 0.6s ease;
          &.active {
            background-color:white;
          }
        }
      }
  
      .step {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
        h2 {
          color: $green;
          font-size:21px;
        }
        p {
          margin:30px 0 30px 0;
        }
        ul {
          height:400px;
          overflow: scroll;
          margin:0;
          padding: 0;
          li {
            list-style:none;
            img {
              width: 100%;
              height: auto;
                          
            }
            &.selected {
              background: #363636;
              border: 1px solid #404040;
              color: white;
            }
          }
          &.thumbnails {
            li {              
              box-sizing: border-box;
              text-align: center;
              width:50%;              
              padding:10px;              
              float:left;
            }
            
          }
          &::after {
            content: "";
            clear: both;
            display: table;
          }
        }
      }
    
    }
  
    .buttons {
      @include clearfix;
      margin-bottom:20px;
      bottom:10px;
      .button {
        &#next {
          border:1px solid $green;
          float: right;
          color:$green;
        }
        float:left;
        padding:10px 50px;
        margin: 0 20px;
        color: white;
      }

    } 

  }

}
